<h2><%= link_to @merchant.name %></h2>
<p><%= @merchant.address %></p>
<p><%= @merchant.city %> <%= @merchant.state %> <%= @merchant.zip %></p>

<h2> Items discounts </h2>

<% @merchant.discounts.each do |bulk_discount|  %>
  <p><%= bulk_discount.discount %>% discount for <%= bulk_discount.amount %> items.</p>
<% end %>

<%= link_to 'My Items', '/merchant/items' %>

<section class="orders">
  <% @merchant.pending_orders.each do |order| %>
    <section id="order-<%= order.id %>">
      <%= link_to order.id, "/merchant/orders/#{order.id}" %>
      <p>Potential Revenue: <%= order.merchant_subtotal(@merchant.id) %></p>
      <p>Quantity of Items: <%= order.merchant_quantity(@merchant.id) %></p>
      <p>Created: <%= order.created_at %></p>
    </section>
  <% end %>
</section>

<section>
  <%= link_to  "Add Bulk Discount", new_merchant_discount_path %>
</section>
